.main {
  background-color: #34475E;
  max-width: 980px;
  height: 680px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 30px;
  margin-right: 10px;
}
.btn-flat {
  margin-right: 100px;
  color: #fff;
  text-decoration: 0;
}
.btn:last-child {
  margin-right: 0px;
}
.btn1 {
  background-color: #12FB78;
  padding: 15px 50px;
}
.btn1:hover {
  background-color: #0bcc5f;
}
.btn2 {
  background-color: #E80C24;
  padding: 10px 40px;
}
.btn2:hover {
  background-color: #C40A20;
}

.btn3 {
  background-color: #1A96D4;
  padding: 6px 20px;
}
.btn3:hover {
  background-color: #167FB4;
}
.btn-round {
  margin-right: 100px;
  color: #fff;
  text-decoration: 0;
  border-radius: 30px;
}
.btn4 {
  background-color: #E87506;
  padding: 15px 50px;
}
.btn4:hover {
  background-color: #C46305;
}
.btn5 {
  background-color:#EBD50B;
  padding: 10px 40px;
}
.btn5:hover {
  background-color: #CCB909;
}

.btn6 {
  background-color: #7D8D8A;
  padding: 6px 20px;
}
.btn6:hover {
  background-color: #6F7D7A;
}
.btn-flat-ghost {
  margin-right: 100px;
  color: #fff;
  text-decoration: 0;
}
.btn7 {
  border: 3px solid #10FC7A;
  padding: 15px 50px;
}
.btn7:hover {
  background-color: #10FC7A;
}
.btn8 {
  border: 3px solid  #E80E25;
  padding: 10px 40px;
}
.btn8:hover {
  background-color: #E80E25;
}

.btn9 {
  border: 3px solid   #1A96D4;
  padding: 6px 20px;
}
.btn9:hover {
  background-color: #1A96D4;
}
.btn-round-ghost {
  margin-right: 100px;
  color: #fff;
  text-decoration: 0;
  border-radius: 30px;
}
.btn10 {
  border: 3px solid #E87506;
  padding: 15px 50px;
}
.btn10:hover {
  background-color: #E87506;
}
.btn11 {
  border: 3px solid  #EBD50B;
  padding: 10px 40px;
}
.btn11:hover {
  background-color: #EBD50B;
}

.btn12 {
  border: 3px solid   #7D8D8C;
  padding: 6px 20px;
}
.btn12:hover {
  background-color: #7D8D8C;
}
h2 {
  padding: 0;
  margin: 0 0 30px 0;
  color: white;
}