/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilites */
.margin-bottom-small {
  margin-bottom: 10px;
}
.margin-top-big {
  margin-top: 20px;
}

/* Components */
.btn-white {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 12px;
  display: inline-block;
}
.btn-white:hover {
  background-color: #fff;
  color: #000;
}
.btn-dark {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  border: 3px solid #171a20;
  color: #171a20;
  font-size: 12px;
  display: inline-block;
}
.btn-dark:hover {
  background-color: #171a20;
  color: #fff;
}
.btn-plus {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #171a20;
}
.btn-plus:hover {
  color: #a1a1a1;
}
.feature-box {
  color: #fff;
  text-align: center;
  display: inline-block;
}
.vl {
  display: inline-block;
  height: 70px;
  border-left: 1px solid #fff;
  margin: 0 30px -10px 30px;
}
.container {
  display: block;
  text-align: center;
}

/* Typography */
body {
  font-family: "Gotham";
  font-weight: 300;
}
.heading-primary {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.heading-secondary {
  font-size: 17px;
  font-weight: 300;
}
.heading-tertiary {
  font-size: 28px;
  line-height: 36px;
  color: #171a20;
  margin-bottom: 20px;
}
.paragraph {
  font-size: 14px;
  font-weight: 300;
  color: #393c41;
}
.feature-heading {
  font-weight: 400;
  font-size: 28px;
  display: inline;
}
.feature-box p {
  font-size: 12px;
  margin-top: 7px;
}
.tinytext {
  font-size: 9px;
  display: block;
}

/* Navigation */
nav {
  position: absolute;
  width: 100%;
}
.middle-nav {
  text-align: center;
}

.middle-nav ol,
.right-nav ol {
  list-style: none;
  margin: 0;
  padding-top: 15px;
}
.middle-nav ol li,
.right-nav ol li {
  display: inline;
  margin-right: 20px;
  font-weight: 400;
}
.middle-nav ol li a,
.right-nav ol li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.right-nav {
  position: absolute;
  top: 0;
  right: 0;
}

/* Section 1 - Model 3 */
#section1 {
  min-height: 100vh;
  background: url(../img/section1.jpg) no-repeat center center/cover;
  padding-top: 75px;
}
#section1 .btn-white {
  margin: 0 0 -30px 20px;
}
#section1 .container {
  margin-top: 32%;
}
/* Section 2 - Safety */
#section2 {
  width: 100%;
  min-height: 100vh;
}
.section2leftbox {
  float: left;
  width: 22%;
  height: 100vh;
  background-color: #fff;
  padding: 30px 50px;
}
.section2leftbox .paragraph {
  line-height: 1.7;
}
.section2rightbox {
  float: left;
  width: 78%;
  height: 100vh;
  background: url(../img/section2.png) no-repeat center center/cover;
}
.rating-box {
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 20px 20px;
  margin-top: 15px;
}
.rating-box h4 {
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 15px;
  color: #171a20;
}
.rating-box .margin-bottom-small h5 {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #393c41;
}
.rating-box .lefttext,
.rating-box .righttext {
  width: 48%;
  display: inline-block;
}
.rating-box .righttext p {
  margin-bottom: 20px;
  text-align: right;
}
#section2 .btn-plus {
  margin: 0 10px 0 0;
}
#section2 .margin-top-big {
  text-align: center;
}
/* Section 3 - Performance */
#section3 {
  width: 100%;
  min-height: 100vh;
}
.section3topbox {
  height: 74vh;
  min-width: 100vw;
  background: url(../img/section3.jfif) no-repeat center center/cover;
}
.section3topbox .feature-box {
  text-align: left;
}
.section3topbox .container {
  padding-top: 30%;
}
.section3bottombox {
  height: 26vh;
  min-width: 100vw;
}

/* Section 4 - All Wheel Drive */

/* Section 5 - Range */

/* Section 6 - Autopilot */

/* Section 7 - Interior */

/* Section 8 - Specs */

/* Section 9 - Order */ ;
